<%- include('layout/header') %> 
<%- include('layout/sidebar') %>
    <section class="main-content position-absolute" style="background: #E5E5E5;" id="content">
        <h1>This is Dashboard</h1>
    </section>
<%- include('layout/footer') %> 