<main>
    <section class="nav-sidebar position-absolute">
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar - Main menu -->
                <div class="col-lg-1 sidebar-wrapper shadow-sm main-menu position-absolute">
                    <div class="sidebar-heading text-center py-3" style="cursor: pointer;">
                        <img src="/img/Rectangle 63.png" alt="logo-mini">
                    </div>
                    <div class="list-group list-group-flush text-center d-flex flex-column align-items-start p-0 position-absolute">
                        <a href="#" class="list-group-item list-group-item-action text-white border-0 p-0 dashboard d-flex flex-column justify-content-center align-items-center">
                            <i data-feather="home" style="width: 24px; height: 24px;"></i>
                            <small>Dashboard</small>
                        </a>
                        <a href="/cars" class="list-group-item list-group-item-action text-white border-0 p-0 administrator d-flex flex-column justify-content-center align-items-center">
                            <i data-feather="truck" style="width: 24px; height: 24px;"></i>
                            <small>Cars</small>
                        </a>
                    </div>
                </div>
                <!-- End Sidebar - Main Menu -->

                <!-- Aside - Side Bar -->
                <div class="shadow-sm bg-white sidebar position-absolute p-0" id="sidebar-wrapper">
                    <div class="list-group d-flex flex-row align-items-start position-absolute title-main-menu">
                        <span>CARS</span>
                    </div>
                    <div class="list-group d-flex flex-column align-items-start p-0 position-absolute list-menu">
                        <div class="menu d-flex flex-row align-items-center">
                            <a href="#" class="text-decoration-none">List Car</a>
                        </div>
                    </div>
                </div>
                <!-- End Aside - Side Bar -->
            </div>
        </div>
    </section>